
<div class="container">
  <div class="row">
    
    <a class="col-md-6 col-12" target="_blank" href='https://screenrant.com/linda-hamilton-fat-sarah-conner-terminator-dark-fate/'>
      <div class="img_thumb big">
        <img src='assets/img/Terminator.jpg'/>
      </div>

      <p class='news_title'>Linda Hamilton Wanted A Fat Sarah Conner In Terminator: Dark Fate</p>
      <p class='news_intro'>Terminator: Dark Fate actress Linda Hamilton thought it would have shocked the audience to see a fat Sarah Connor in the sequel to Terminator 2.</p>
    </a>

    <a class="col-md-6 col-12" target="_blank" href='https://screenrant.com/damon-lindelof-probably-not-returning-watchmen-season-2/'>
       <div class="img_thumb big">
        <img src='assets/img/watchmen.jpg'/>
      </div>
      <p class='news_title'>Watchmen Writer Damon Lindelof "Probably Not" Returning For Season 2</p>
      <p class='news_intro'>Watchmen showrunner Damon Lindelof admits a second season will likely happen, but that he doesn't see himself returning to write the hit HBO series.</p>
    </a>

    <a class="col-md-4 col-12" target="_blank" href='https://screenrant.com/eternals-endgame-connection-theory/'>
       <div class="img_thumb">
        <img src='assets/img/avengers.jpg'/>
      </div>
      <p class='news_title'>Marvel Theory: The Hulk’s Endgame Snap Created The Modern Eternals</p>
      <p class='news_intro'>Marvel has recently confirmed that Eternals is set after Avengers: Endgame — could the Hulk's snap be responsible for their upcoming MCU debut?</p>
    </a>
    <a class="col-md-4 col-12" target="_blank" href='https://screenrant.com/trick-r-treat-movie-horror-cliches-twisted-how/'>
       <div class="img_thumb">
        <img src='assets/img/wilkins.jpg'/>
      </div>
      <p class='news_title'>How Trick ’R Treat Twisted Classic Horror Cliches</p>
      <p class='news_intro'>Trick 'r Treat's Sam has much respect for Halloween traditions, but the film itself takes pleasure in subverting standard horror cliches.</p>
    </a>

    <a class="col-md-4 col-12" target="_blank" href='https://screenrant.com/birds-of-prey-used-suicide-squad-footage/'>
       <div class="img_thumb">
        <img src='assets/img/quinn.jpg'/>
      </div>
      <p class='news_title'>Birds Of Prey Includes Ace Chemicals Footage From David Ayer's Suicide Squad</p>
      <p class='news_intro'>Birds of Prey director Cathy Yan said the Suicide Squad footage, tweaked to fit the film, helped remind viewers of ACE Chemicals’ importance.</p>
    </a>
  </div>
</div>