<style>
  .pagination /deep/ .ngx-pagination li {
      /* font-size: 18px; */
      margin: 0 5px;
  }
  .pagination /deep/ .ngx-pagination .current {
    background: #FF8D1B;
  font-weight: bold; }
</style>    
    <div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      Film Management
    </div>
    <div class="row w3-res-tb">
      <div class="col-sm-4 m-b-xs">
        <!-- <select class="input-sm form-control w-sm inline v-middle">
          <option value="0">Bulk action</option>
          <option value="1">Delete selected</option>
          <option value="2">Bulk edit</option>
          <option value="3">Export</option>
        </select>
        <button class="btn btn-sm btn-default">Apply</button>                 -->
      </div>
      <div class="col-sm-3">
      </div>
      <button (click)='checkStatusModal(true)' class="btn btn-primary col-sm-2"><i class="fa fa-plus-circle"></i>  ADD NEW FILM</button>
      <div class="col-sm-3">
        <div class="input-group">
          <input [(ngModel)]='searchKw' type="text" class="input-sm form-control" placeholder="Search film name" (keyup.enter)="findFilm()">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button" (click)='findFilm()'>Go!</button>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">

        <thead>
          <tr>
            <th style="width:20px;">
              <label class="i-checks m-b-none">
                <input type="checkbox"><i></i>
              </label>
            </th>
            <th colspan="2">Film</th>
            <!-- <th>Description </th> -->
            <th>Release Date</th>
            <th style="width:100px;"></th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngIf='!isSearch'>
          <tr *ngFor='let film of filmsArr | paginate:{itemsPerPage: 5, currentPage:p}' class="film_table">
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>

            <td class="film_img">
              <img [src]='film.hinhAnh'/>
            </td>
            <td class="film_info">
              <p class='film_info_title'>{{film.tenPhim}}</p>
              <p class='film_info_desc'>{{film.moTa | slice:0:200}}</p>
            </td>
            <td class='film_info_date'>{{film.ngayKhoiChieu | date: 'dd/MM/y'}}</td>
            <!-- <td><span class="text-ellipsis">zzzzzz</span></td> -->
            
            <td class='film_info_fn'>
              <a class="active" ui-toggle-class="">
                <i (click)='EditThisFilm(film)'
                class="fa fa fa-edit text-warning "></i>
                <i (click)='DelThisFilm(film.maPhim)' class="fa fa-times text-danger text"></i>
              </a>
            </td>
          </tr>
          </ng-container>
          <ng-container *ngIf='isSearch'>
            <tr *ngFor='let filmRes of filmFindArr | paginate:{itemsPerPage: 5, currentPage:p}' class="film_table">
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>

            <td class="film_img">
              <img [src]='filmRes.hinhAnh'/>
            </td>
            <td class="film_info">
              <p style="position: relative;" class='film_info_title'>{{filmRes.tenPhim}}
                <ng-container *ngIf='filmRes.maPhim==maHienThi'>
                  <span *ngIf='updateSuccess' class="tooltip-update">Successfully updated this film</span>
                </ng-container>
                
              </p> 
              <p class='film_info_desc'>{{filmRes.moTa | slice:0:200}}</p>
              
            </td>
            <td class='film_info_date'>{{filmRes.ngayKhoiChieu | date: 'dd/MM/y'}}</td>
            <!-- <td><span class="text-ellipsis">zzzzzz</span></td> -->
            
            <td class='film_info_fn'>
              <a class="active" ui-toggle-class="">
                <i (click)='EditThisFilm(filmRes)'
                class="fa fa fa-edit text-warning "></i>
                <i (click)='DelThisFilm(filmRes.maPhim)' class="fa fa-times text-danger text"></i>
              </a>
            </td>
          </tr>
          </ng-container>

         

        </tbody>
        
      </table>
      <pagination-controls class="pagination" (pageChange)="p=$event" previousLabel="" nextLabel="" ></pagination-controls>
      
    </div>

  </div>
</div>
<app-modal-film class="displayModal" [ngStyle]="{'display': displayModal}" (modalStatus)='updateStatus($event)' [filmEditInput]='filmEdit' [isEditing]='isEditFilm' (filmAfterEdit)='displayFilmAfterEdit($event)'></app-modal-film>