<!-- SLIDER -->
<!-- <app-slider id='mySlider'></app-slider> -->

<!-- CAROUSEL -->
<h4 class="latest-text w3_latest_text" id="myCarousel">Featured Movies</h4>
<app-carousel-film></app-carousel-film>

<!-- SHOWTIMES -->
<h4 class="latest-text w3_latest_text showtimebycinema_title" id='myShowtimes'>our showtimes by cinema</h4>
<!-- <app-showtimes-by-cinema></app-showtimes-by-cinema> -->

<!-- SOCIAL CONNECTION -->
<div class="general_social_icons">
	<nav class="social">
		<ul>
			<li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
			<li class="w3_facebook"><a href="https://www.facebook.com/Funny-playground-460334164385910/" target="_blank" title="Chúng tôi trên Facebook">Facebook <i class="fa fa-facebook"></i></a></li>
			<!-- <li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li> -->
			<!-- <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>				   -->
		</ul>
  </nav>
</div>





