<div id="add-user-modal"  class="modal fade" role="dialog" [ngStyle]="{'display':displayInput}">
  <div class="modal-dialog modal-lg">
    <!-- <div class="modal-content">    -->

    <section class="panel">
      <header class="panel-heading">
          Add new user
          <span class="tools pull-right" >
              <a class="fa fa-times" href="javascript:;" data-dismiss="modal" ></a>
              </span>
      </header>

      <div class="panel-body">
        <div class=" form" *ngIf='isEditing'>
            <form #frmUpdateUsers="ngForm" class="cmxform form-horizontal " id="commentForm"
            (ngSubmit)="UpdateUser(frmUpdateUsers.value);frmUpdateUsers.reset();CloseModal()">

            <div class="form-group ">
              <label for="hoTen" class="control-label col-lg-3">Full Name edit</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="hoTen" name="hoTen" minlength="4" maxlength="32" type="text" required #hoTen='ngModel' [(ngModel)]='userEditInput.hoTen'>
              </div>

              <!-- khu vực bắt lỗi -->
              <div class="col-lg-3 user_check_form" *ngIf="(hoTen.dirty || hoTen.touched) && hoTen.errors"> 
                  <i class="fa fa-long-arrow-left" style="color: red;"></i>
                  <span *ngIf="hoTen.errors.required" class="text-danger">
                 This field cant be blank
                </span>
                <span *ngIf="hoTen.errors.minlength || hoTen.errors.maxlength" class="text-danger">
                    At least 4 characters 
                </span>
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="col-lg-3 fade in user_check_form" *ngIf="(hoTen.dirty || hoTen.touched) && !hoTen.errors">
                <i class="fa fa-thumbs-o-up"></i>
              </div>
            </div>

            <div class="form-group ">
                <label for="taiKhoan" class="control-label col-lg-3">Username
                    <span class="required">*</span>
                </label>
                <div class="col-lg-6">
                    <input class=" form-control" id="taiKhoan" name="taiKhoan" minlength="4" type="text" required #taiKhoan='ngModel' [(ngModel)]='userEditInput.taiKhoan'>
                </div>

                <div class="col-lg-3 user_check_form" *ngIf="(taiKhoan.dirty || taiKhoan.touched) && taiKhoan.errors"> 
                  <i class="fa fa-long-arrow-left" style="color: red;"></i>
                  <span *ngIf="taiKhoan.errors.required" class="text-danger">
                 This field cant be blank
                </span>
                <span *ngIf="taiKhoan.errors.minlength || taiKhoan.errors.maxlength" class="text-danger">
                    At least 4 characters 
                </span>
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="col-lg-3 fade in user_check_form" *ngIf="(taiKhoan.dirty || taiKhoan.touched) && !taiKhoan.errors">
                <i class="fa fa-thumbs-o-up"></i>
              </div>

            </div>

            <div class="form-group ">
                <label for="matKhau" class="control-label col-lg-3">Password <span class="required">*</span></label>
                <div class="col-lg-6">
                    <input class="form-control " id="matKhau" name="matKhau" type="text" minlength="6" #matKhau='ngModel' [(ngModel)]='userEditInput.matKhau'>
                </div>

                <div class="col-lg-3 user_check_form" *ngIf="(matKhau.dirty || matKhau.touched) && matKhau.errors"> 
                  <i class="fa fa-long-arrow-left" style="color: red;"></i>
                  <span *ngIf="matKhau.errors.required" class="text-danger">
                 This field cant be blank
                </span>
                <span *ngIf="matKhau.errors.minlength" class="text-danger">
                    At least 6 characters 
                </span>
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="col-lg-3 fade in user_check_form" *ngIf="(matKhau.dirty || matKhau.touched) && !matKhau.errors">
                <i class="fa fa-thumbs-o-up"></i>
              </div>

            </div>
                    
            <div class="form-group ">
                <label for="email" class="control-label col-lg-3">E-Mail <span class="required">*</span></label>
                <div class="col-lg-6">
                    <input class="form-control " id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" required #email='ngModel' [(ngModel)]='userEditInput.email'>
                </div>

                <div class="col-lg-3 user_check_form" *ngIf="(email.dirty || email.touched) && email.errors"> 
                  <i class="fa fa-long-arrow-left" style="color: red;"></i>
                  <span *ngIf="email.errors.required" class="text-danger">
                 This field cant be blank
                </span>
                <span *ngIf="email.errors.pattern" class="text-danger">
                    Not email format
                </span>
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="col-lg-3 fade in user_check_form" *ngIf="(email.dirty || email.touched) && !email.errors">
                <i class="fa fa-thumbs-o-up"></i>
              </div>

            </div>

            <div class="form-group ">
                <label for="soDt" class="control-label col-lg-3">Phone number <span class="required">*</span></label>
                <div class="col-lg-6">
                    <input class="form-control " id="soDt" name="soDt" type='number' minlength="9" maxlength="10" required #soDt='ngModel' [(ngModel)]='userEditInput.soDt'>
                </div>

                <div class="col-lg-3 user_check_form" *ngIf="(soDt.dirty || soDt.touched) && soDt.errors"> 
                  <i class="fa fa-long-arrow-left" style="color: red;"></i>
                  <span *ngIf="soDt.errors.required" class="text-danger">
                 This field cant be blank
                </span>
                <span *ngIf="soDt.errors.minlength || soDt.errors.maxlength" class="text-danger">
                    Not VietNam phone number format
                </span>
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="col-lg-3 fade in user_check_form" *ngIf="(soDt.dirty || soDt.touched) && !soDt.errors">
                <i class="fa fa-thumbs-o-up"></i>
              </div>

            </div>

            <!-- <div class="form-group ">
                <label for="maNhom" class="control-label col-lg-3">Group code <span class="required">*</span></label>
                <div class="col-lg-6">
                    
                    <select required #maNhom='ngModel' [(ngModel)]='groupCode[0]'
                   name="maNhom" class="form-control">
                    <option *ngFor='let code of groupCode;let i = index' [value]="code">
                      {{code}}
                    </option>
                  </select>
                </div>
            </div> -->

            <div class="form-group ">
                <label for="maLoaiNguoiDung" class="control-label col-lg-3">Type of user <span class="required">*</span></label>
                <div class="col-lg-6">
                  <!-- <input class="form-control " id="maLoaiNguoiDung" name="maLoaiNguoiDung" type='text' required=""> -->
                  <select required 
                   #maLoaiNguoiDung='ngModel' [(ngModel)]='userEditInput.maLoaiNguoiDung'
                   name="maLoaiNguoiDung" class="form-control">
                   <option value="" selected disabled>Please select</option>
                    <option *ngFor='let type of userTypes' [value]="type.maLoaiNguoiDung">{{type.tenLoai}}</option>
                  </select>
                </div>
            </div>

                    <div class="form-group ">
                        <div class="col-lg-offset-3 col-lg-6 modal_action">
                            <button class="btn btn-success modal_submit" type="submit">Update</button>
                            <button class="btn btn-default" (click)='CloseModal()' >Cancel</button>
                        </div>
                    </div>


                </form>
        </div>

        <!-- <div class=" form" *ngIf='!isEditing'>
            <form #frm4Users="ngForm" class="cmxform form-horizontal " id="commentForm"
            (ngSubmit)="register(frm4Users.value);frm4Users.reset()">

            <div class="form-group ">
              <label for="hoTen" class="control-label col-lg-3">Full Name</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="hoTen" name="hoTen" minlength="4" maxlength="32" type="text" required [(ngModel)]='userModal.hoTen' [value]='userModal.hoTen' #hoTen='ngModel'>
              </div>

             
              <div class="col-lg-3 user_check_form" *ngIf="(hoTen.dirty || hoTen.touched) && hoTen.errors"> 
                  <i class="fa fa-long-arrow-left" style="color: red;"></i>
                  <span *ngIf="hoTen.errors.required" class="text-danger">
                 This field cant be blank
                </span>
                <span *ngIf="hoTen.errors.minlength || hoTen.errors.maxlength" class="text-danger">
                    At least 4 characters 
                </span>
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="col-lg-3 fade in user_check_form" *ngIf="(hoTen.dirty || hoTen.touched) && !hoTen.errors">
                <i class="fa fa-thumbs-o-up"></i>
              </div>
            </div>

            <div class="form-group ">
                <label for="taiKhoan" class="control-label col-lg-3">Username
                    <span class="required">*</span>
                </label>
                <div class="col-lg-6">
                    <input class=" form-control" id="taiKhoan" name="taiKhoan" minlength="4" type="text" required #taiKhoan='ngModel' [(ngModel)]='userModal.taiKhoan'>
                </div>

                <div class="col-lg-3 user_check_form" *ngIf="(taiKhoan.dirty || taiKhoan.touched) && taiKhoan.errors"> 
                  <i class="fa fa-long-arrow-left" style="color: red;"></i>
                  <span *ngIf="taiKhoan.errors.required" class="text-danger">
                 This field cant be blank
                </span>
                <span *ngIf="taiKhoan.errors.minlength || taiKhoan.errors.maxlength" class="text-danger">
                    At least 4 characters 
                </span>
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="col-lg-3 fade in user_check_form" *ngIf="(taiKhoan.dirty || taiKhoan.touched) && !taiKhoan.errors">
                <i class="fa fa-thumbs-o-up"></i>
              </div>

            </div>

            <div class="form-group ">
                <label for="matKhau" class="control-label col-lg-3">Password <span class="required">*</span></label>
                <div class="col-lg-6">
                    <input class="form-control " id="matKhau" name="matKhau" type="text" minlength="6" #matKhau='ngModel' [(ngModel)]='userModal.matKhau'>
                </div>

                <div class="col-lg-3 user_check_form" *ngIf="(matKhau.dirty || matKhau.touched) && matKhau.errors"> 
                  <i class="fa fa-long-arrow-left" style="color: red;"></i>
                  <span *ngIf="matKhau.errors.required" class="text-danger">
                 This field cant be blank
                </span>
                <span *ngIf="matKhau.errors.minlength" class="text-danger">
                    At least 6 characters 
                </span>
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="col-lg-3 fade in user_check_form" *ngIf="(matKhau.dirty || matKhau.touched) && !matKhau.errors">
                <i class="fa fa-thumbs-o-up"></i>
              </div>

            </div>
                    
            <div class="form-group ">
                <label for="email" class="control-label col-lg-3">E-Mail <span class="required">*</span></label>
                <div class="col-lg-6">
                    <input class="form-control " id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" required #email='ngModel' [(ngModel)]='userModal.email'>
                </div>

                <div class="col-lg-3 user_check_form" *ngIf="(email.dirty || email.touched) && email.errors"> 
                  <i class="fa fa-long-arrow-left" style="color: red;"></i>
                  <span *ngIf="email.errors.required" class="text-danger">
                 This field cant be blank
                </span>
                <span *ngIf="email.errors.pattern" class="text-danger">
                    Not email format
                </span>
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="col-lg-3 fade in user_check_form" *ngIf="(email.dirty || email.touched) && !email.errors">
                <i class="fa fa-thumbs-o-up"></i>
              </div>

            </div>

            <div class="form-group ">
                <label for="soDt" class="control-label col-lg-3">Phone number <span class="required">*</span></label>
                <div class="col-lg-6">
                    <input class="form-control " id="soDt" name="soDt" type='number' minlength="9" maxlength="10" required #soDt='ngModel' [(ngModel)]='userModal.soDt'>
                </div>

                <div class="col-lg-3 user_check_form" *ngIf="(soDt.dirty || soDt.touched) && soDt.errors"> 
                  <i class="fa fa-long-arrow-left" style="color: red;"></i>
                  <span *ngIf="soDt.errors.required" class="text-danger">
                 This field cant be blank
                </span>
                <span *ngIf="soDt.errors.minlength || soDt.errors.maxlength" class="text-danger">
                    Not VietNam phone number format
                </span>
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="col-lg-3 fade in user_check_form" *ngIf="(soDt.dirty || soDt.touched) && !soDt.errors">
                <i class="fa fa-thumbs-o-up"></i>
              </div>

            </div>

           
            <div class="form-group ">
                <label for="maLoaiNguoiDung" class="control-label col-lg-3">Type of user <span class="required">*</span></label>
                <div class="col-lg-6">
                  <select required
                   #maLoaiNguoiDung='ngModel' [(ngModel)]='userModal.maLoaiNguoiDung'
                   name="maLoaiNguoiDung" class="form-control">
                   <option value="" selected disabled>Please select</option>
                    <option *ngFor='let type of userTypes' [value]="type.maLoaiNguoiDung">{{type.tenLoai}}</option>
                  </select>
                </div>
            </div>

                    <div class="form-group ">
                        <div class="col-lg-offset-3 col-lg-6 modal_action">
                            <button class="btn btn-info modal_submit" type="submit" >Submit</button>
                            <button class="btn btn-default" data-dismiss="modal" (click)='frm4Users.reset()'>Cancel</button>
                        </div>
                    </div>


                </form>
        </div> -->

        </div>

      </section>
      <!-- </div> -->

  </div>
</div>