
  <div class="table-agile-info">
    <div class="panel panel-default">
      <div class="panel-heading">
      Newsletter List
      </div>
      
      <div class="w3-res-tb">
        <table class="table table-striped b-t b-light">

          <thead>
            <tr>
              <th>No.</th>
              <th>Email list</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let email of emailList;let i = index'>
              <td>{{i+1}}</td>
              <td>{{email}}</td>
              <td>
                <i class="fa fa-paper-plane text-primary"></i>
                <i class="fa fa-plus text-success"></i>
                <i class="fa fa-edit text-warning"></i>
                <i class="fa fa-times text-danger text"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="col-sm-5 m-b-xs">
        </div> -->
      </div>
    </div>
  </div>