// phimchitiet_tieude{
//   font-size:50px;
// }
.song-info{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  
  // h3{
  //   margin: 0;
  // }
  h4{
    align-items:center;
    line-height: 2;
    font-size: 1.2rem;
  }
}
.phimchitiet_mota{
  font-size: 16px;
}
.phimchitiet_muave {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  h3{
    
    font-size: 22px;
    margin: 0;
    line-height: 1.5;
    
  }
  button{
    color: #fff;
   // display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF8D1B;
    text-align: center;
    padding: 6px 30px;
    font-weight: bold;
    height: 40px;
    &:hover{
      background: #212121
    }
    &:focus{
      outline: none;
    }
  }
}
.pagination{
  display: block;
  text-align: center;
}

.filmdetail_ref{
  margin-left: none;
  border-left: 5px solid #ff8d1b;
    font-size: 2em;
    color: #212121;
    text-transform: uppercase;
    margin-top: 1em;
    padding: 0.3em 0.5em;
    
}

@media screen and (max-width:992px) {
  .single-right{
    display: none;
  }
}