.table-agile-info{
  background: #27C24C;
  width: 100%;
  min-height: 90vh;
  max-height: fit-content;
}
.user_info_fn i.fa {
  font-size: 1.5rem;
  margin-right: 10px;
  
  cursor: pointer;
}
.pagination{
  display: block;
  text-align: center;
  margin: 20px 0 !important;
}